PERSONAL_MCP_DATA_DIR=%PROGRAMDATA%\Poyi\PersonalMcpGateway
PERSONAL_MCP_MODULES_DIR=modules
PERSONAL_MCP_MCP_HOST=127.0.0.1
PERSONAL_MCP_MCP_PORT=8760
PERSONAL_MCP_ADMIN_HOST=127.0.0.1
PERSONAL_MCP_ADMIN_PORT=8761
PERSONAL_MCP_LOG_LEVEL=INFO
